@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/typographie";

@import "./components/buttons";
@import "./components/heart-anim";
@import "./components/step-card";
@import "./components/restaurant-prev";
@import "./components/dish-card";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/loader";

@import "./pages/home";
@import "./pages/menu";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	scroll-behavior: smooth;
}

/* 599px 999px 1200px */
