/* UTILS */

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

/* BASE */

@import "./base/typographie";

/* COMPONENTS */
/* LAYOUTS */

@import "./layouts/header";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
h1 {
	color: $color-primary;
}

/* 599px 999px 1200px */
