@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/typographie";

@import "./components/buttons";
@import "./components/step-card";
@import "./components/restaurant-prev";

@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/home";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
/* 599px 999px 1200px */
